@import "@/styles/variable.scss";

.daily-song {
  position: relative;
  &__pic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 100%;
    width: 100%;
    background: #fff;
  }
  &__pic-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__weekday {
    font-size: 18px;
    color: $gray-font;
  }
  &__date {
    font-size: 96px;
    line-height: 1;
    color: $theme;
  }
  &__name {
    display: block;
    margin-top: 8px;
    font-size: 13px;
    font-weight: 18px;
  }
}
