@import "@/styles/variable.scss";

.card-list-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid $line-color;
  height: 40px;
  &__label {
    font-size: 18px;
  }
  &__more {
    opacity: 0.5;
  }
}
