@import "@/styles/variable.scss";
@import "@/styles/mixin.scss";

.playlist-info {
  display: flex;
  padding: 30px;

  &__cover-img {
    flex-shrink: 0;
    margin-right: 30px;
    width: 198px;
    height: 198px;
  }

  &__right {
    flex-grow: 1;
  }

  &__title {
    display: flex;
    justify-content: space-between;
  }
  &__title-tag {
    flex-shrink: 0;
    margin: 5px 6px 0 0;
    box-sizing: border-box;
    border-radius: 1px;
    border: 1px solid $light-theme;
    padding: 0 6px;
    height: 20px;
    font-size: 12px;
    line-height: 18px;
    color: $light-theme;
  }
  &__title-label {
    @include big-title;
    flex-grow: 1;
  }

  &__count {
    flex-shrink: 0;
    display: flex;
    margin-top: 4px;
  }
  &__count-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    box-sizing: border-box;
    padding: 0 10px;
    height: 30px;
    color: $gray-font;
    &:first-of-type {
      border-right: 1px solid $line-color;
    }
  }
  &__count-label, &__count-num {
    opacity: .5;
    font-size: 11px;
  }

  &__creator {
    display: flex;
    align-items: center;
    margin-top: 9px;
  }
  &__avatar-img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
  &__nickname {
    margin-left: 9px;
    font-size: 13px;  
    color: $gray-font;
  }
  &__create-time {
    margin-left: 16px;
    color: $gray-font;
    opacity: 0.6;
  }

  &__btns {
    margin-top: 18px;
  }
  &__btn-item {
    margin-right: 11px;
  }

  &__tags {
    margin-top: 24px;
  }
  &__tags-item {
    color: $blue;
  }

  &__desc {
    margin-top: 12px;
    line-height: 16px;
  }
}
