/**** 颜色变量 ****/

// 三种红色，由深到浅
$dark-theme: #660404;
$theme: #b82525; // 一般红色都用这个
$light-theme: #cd2929; // 一般 hover 的红色用这个

// 顶部背景颜色
$header-bg: #212124;

// 侧边栏菜单背景颜色
$aside-bg: #191b1f;

// 主区域背景颜色
$dark-bg: #16181c;

// palceholder 文字颜色
$placeholder: #454546;

// 正常状态下的文字颜色。
// 一些文字正常状态下可能是稍微灰一点，可以加一个透明度，
// 图标也有 激活 和 非激活 状态，激活状态可以用这个颜色，非激活可以使用相同的透明度来实现
$font: #dcdde4;
$gray-font: #828385;
$font-opacity: 0.8;

$line-color: #202226;

$blue: #2e6bb0;


/**** 长度变量 ****/

// 最小状态下的宽高
$app-min-width: 1022px;
$app-min-height: 670px;

// 像 `个性推荐` `歌单` 这种 tab 下主要内容的最大宽度
$tab-content-max-width: 1040px;
