@import "@/styles/variable.scss";

.drop-item {
  display: flex;
  align-items: center;
  padding: 0 8px 0 18px;
  height: 36px;
  cursor: pointer;

  &__icon {
    font-size: 16px;
    color: $gray-font;
  }
  &__text {
    flex-grow: 1;
    margin-left: 10px;
  }
  &__label {
    margin-right: 8px;
    color: $gray-font;
  }
  &__arrow {
    font-weight: bold;
    color: $gray-font;
    opacity: 0.5;
  }
}
