@import "@/styles/variable.scss";

.aside-bar {
  box-sizing: border-box;
  border-right: 1px solid $line-color;
  width: 200px;
  height: 100%;
  background: $aside-bg;
  &__part {
    margin-bottom: 12px;
  }
}
