@import "@/styles/variable.scss";

.daily-song {
  position: relative;
  &__pic {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 100%;
    width: 100%;
    background: #fff;
    &:hover {
      .daily-song__tip {
        transform: translateY(0);
      }
    }
  }
  &__pic-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__weekday {
    font-size: 18px;
    color: $gray-font;
  }
  &__date {
    font-size: 96px;
    line-height: 1;
    color: $theme;
  }
  &__tip {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 6px 8px;
    width: 100%;
    font-size: 12px;
    line-height: 18px;
    background: rgba(#000, 0.5);
    transform: translateY(-100%);
    transition: all 0.4s 0.4s;
  }
  &__name {
    display: block;
    margin-top: 8px;
    font-size: 13px;
    font-weight: 18px;
  }
}
