@import "@/styles/variable.scss";

.sign-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #4d4e52;
  width: 64px;
  height: 26px;
  color: rgba($gray-font, 0.5);
  background: #3a3c40;

  &--active {
    @extend .sign-btn;
    color: $gray-font;
    background: transparent;
    cursor: pointer;
    &:hover {
      border-color: #414346;
      color: $font;
      background: #414346;
    }
  }

  &__icon {
    margin-left: -4px;
    margin-right: 4px;
  }
}
