@import "@/styles/variable.scss";

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background: $dark-bg;

  &__area {
    flex-grow: 1;
    display: flex;
    height: 100%;
  }
  
  &__aside-bar {
    flex-shrink: 0;
  }

  &__footer-player {
    flex-shrink: 0;
  }
}
