@import "../../styles/variable.scss";

.top-swiper {
  width: 100%;
  height: 216px;
  &__container {
    height: 100%;
  }
  .swiper-slide {
    width: 540px;
    height: 200px;
    opacity: 0.5;
    transition: opacity 0.5s;
    .top-swiper__img {
      transform: scale(0.95);
    }
  }
  .swiper-slide-active {
    opacity: 1;
    .top-swiper__img {
      transform: scale(1);
    }
  }
  &__img {
    width: 100%;
    height: 100%;
    transition: 0.3s;
  }
  .swiper-pagination {
    bottom: 2px;
  }
  &__bullet {
    display: inline-block;
    margin-left: 5px;
    width: 17px;
    height: 2px;
    background: $font;
    opacity: 0.2;
    &:first-of-type {
      margin-left: 0;
    }
    &--active {
      opacity: 0.5;
    }
  }
}
