@import '@/styles/color.scss';

.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px 0 16px;
  height: 48px;
  background: $header-bg;
  &__left {
    display: flex;
    align-items: center;
  }
  &__bf {
    margin-left: 64px;
  }
}
