@import '@/styles/variable.scss';
@import '@/styles/mixin.scss';

.root {
  display: flex;
  align-items: center;
  border-top: 1px solid $line-color;
  padding-right: 14px;
  height: 48px;
  background: $header-bg;
}

.left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 27px 0 30px;
  width: 200px;
  height: 100%;
}

.progress {
  flex-grow: 1;
}

.cur-time,
.duration {
  box-sizing: border-box;
  width: 46px;
}
.cur-time {
  padding-left: 4px;
}
.duration {
  padding-left: 7px;
}

.volume {
  margin-left: 16px;
}

.right {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.right__i {
  @include hoverable-gray;
  margin-right: 15px;
  font-size: 16px;
}
.list-i {
  display: flex;
  justify-content: flex-end;
  position: relative;
  width: 48px;
  height: 18px;
}
.list-i-icon {
  @include hoverable-gray;
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  font-size: 16px;
}
.list-i-num {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 32px;
  height: 16px;
  text-align: center;
  line-height: 16px;
  background: #2d2d30;
  cursor: pointer;
}
