$bg: #2d2f33;
$border-color: #36383c;

.drop-user {
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid $border-color;
  width: 274px;
  height: 366px;
  background: $bg;
  box-shadow: 0 0 60px 0px rgba(#000, 0.5);
}
