@import "@/styles/variable.scss";

$bg: #2d2f33;
$border-color: #36383c;

.drop-user {
  position: relative;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid $border-color;
  padding-top: 2px;
  width: 274px;
  background: $bg;
  box-shadow: 0 0 60px 0px rgba(#000, 0.5);
  cursor: default;

  &__triangle {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $bg;
    border-left: 10px solid transparent;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 13px 0 19px;
    height: 74px;
  }
  &__account {
    flex-grow: 1;
    display: flex;
  }
  &__avatar {
    width: 40px;
    height: 40px;
  }
  &__nickname {
    flex-grow: 1;
    overflow: hidden;
    margin: 0 10px;
    height: 40px;
    line-height: 40px;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
  }

  &__count {
    display: flex;
    padding: 0 2px;
    height: 36px;
    cursor: pointer;

    &-item {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &:hover .drop-user__count-label {
        color: $font;
      }
    }
    &-num {
      font-size: 16px;
      font-weight: bold;
    }
    &-label {
      margin-top: 4px;
      color: $gray-font;
    }
    &-border {
      border-right: 1px solid $border-color;
    }
  }

  &__item {
    &:hover {
      background: $border-color;
    }
    &-level {
      font-family: Arial, sans-serif;
      font-style: italic;
      font-weight: bold;
    }
    &--first {
      @extend .drop-user__item;
      margin-top: 19px;
      border-top: 1px solid $border-color;
    }
    &--border {
      @extend .drop-user__item;
      border-top: 1px solid $border-color;
    }
    &--off {
      @extend .drop-user__item;
      border-top: 1px solid $border-color;
      height: 50px;
    }
  }
}
